node_modules/
target/
dist/
build/
applogs/

.idea/
.vscode/
.DS_Store
**/*.min.css
**/*.min.js

src/main/java/
src/main/resources/**/*.xml
pom.xml
**/*.ico
**/*.jpg
**/*.jpeg
**/*.png
**/*.gif
**/*.webp
**/*.pdf
**/*.zip
**/*.gz
**/*.jar
**/*.xdb
